.resumeContainer {
  text-align: center;
  list-style-type: none;
}
.resumeContainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sectionTitle {
  font-size: 3.4vw;
  margin: 0;
  padding: 0;
  color: #d32f2f;
}
.exTitle {
  margin-left: 10px;
  color: #39daf7;
}
