.arrowNavContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 400px;
  min-width: 95px;
  margin-top: 15px;
}
.arrowNavLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin-bottom: 5px;
}
.arrowNavLink:hover {
  text-decoration: none;
  color: #fff;
}
.arrowNavLinkName {
  min-width: 80px;
  font-size: 1.2vw;
  border: 2px solid #ba68c8;
  border-right: none !important;
  border-radius: 10px 0px 0 10px;
  padding: 9px 10px;
  text-align: center;
  transition: 0.6s ease-in-out;
  position: relative;
  z-index: 1;
}

.arrowNavLinkName::before {
  content: '';
  background: #ba68c8;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.7s ease-in-out;
  border-radius: 8px 0px 0 8px;
  opacity: 0;
  z-index: -1;
}
.arrowNavLinkName:hover::before {
  width: 100%;
  opacity: 1;
}
