.projectsContainer{
  width: 80%;
  height: 85%;
}
.project{
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.projectsHeading{
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
.projectsRow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}